@charset "UTF-8";
/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*--------------------*/
.sec {
	margin: 0 0 80px 0;
	max-width: 800px;
}

.title {
	font-size: 30px;
	color: #00ff7b;
	font-weight: 700;
	letter-spacing: 1.4px;
	text-transform: uppercase;
	margin: 0 0 50px 0;
}

.square {
	width: 250px;
	height: 250px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 25px;
	color: rgb(251, 250, 202);
	text-transform: uppercase;
	-webkit-transition: all 0.5s ease 0.2s;
	transition: all 0.5s ease 0.2s;
	margin: 0 0 30px 0;
}

.subtitle {
	font-size: 22px;
	color: #fff;
	letter-spacing: 1px;
	line-height: 30px;
}
.subtitle span {
	font-weight: 700;
	text-transform: uppercase;
	color: rgb(180, 166, 238);
}

.transform {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 50px 20px 0 20px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background-color: rgb(53, 51, 51);
}

.translate__square {
	background-color: rgb(38, 83, 38);
}
.translate__square:hover {
	-webkit-transform: translate(50px, 50px);
	        transform: translate(50px, 50px);
}

.scale__square {
	background-color: rgb(63, 35, 62);
}
.scale__square:hover {
	-webkit-transform: scale(1.5, 1.5);
	        transform: scale(1.5, 1.5);
}

.rotate__square {
	background-color: rgb(35, 36, 63);
}
.rotate__square:hover {
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
}

.skew__title span {
	text-transform: lowercase;
}
.skew__square {
	background-color: rgb(61, 63, 35);
}
.skew__square:hover {
	-webkit-transform: skew(20deg, 20deg);
	        transform: skew(20deg, 20deg);
}

.matrix__title span {
	text-transform: lowercase;
}
.matrix__subtitle span:nth-child(2) {
	text-transform: lowercase;
}
.matrix__square {
	background-color: rgb(63, 42, 35);
}
.matrix__square:hover {
	-webkit-transform: matrix(2, 0, 0, 2, 120, -100);
	        transform: matrix(2, 0, 0, 2, 120, -100);
}

.multi__square {
	background-color: rgb(38, 72, 83);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 15px;
}
.multi__square:hover {
	-webkit-transform: translate(50px, 50px) scale(1.5, 1.5) rotate(360deg);
	        transform: translate(50px, 50px) scale(1.5, 1.5) rotate(360deg);
}