@charset "UTF-8";
/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*--------------------*/
body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: rgb(53, 51, 51);
}

.sec {
	margin: 0 0 80px 0;
}

.title {
	font-size: 30px;
	color: #00ff7b;
	font-weight: 700;
	letter-spacing: 1.4px;
	text-transform: uppercase;
	margin: 0 0 50px 0;
	line-height: 38px;
}
.title a {
	color: #00ff7b;
}

.wrapper3d {
	margin: 0 0 30px 0;
	width: 250px;
	height: 250px;
	background-color: rgba(72, 72, 72, 0.5);
}

.square {
	width: 250px;
	height: 250px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 25px;
	color: rgb(251, 250, 202);
	text-transform: uppercase;
	-webkit-transition: all 0.7s ease 0.2s;
	transition: all 0.7s ease 0.2s;
}

.subtitle {
	font-size: 22px;
	color: #fff;
	letter-spacing: 1px;
	line-height: 30px;
}
.subtitle span {
	font-weight: 700;
	text-transform: uppercase;
	color: rgb(180, 166, 238);
}

.transform {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: start;
	padding: 50px 20px 0 20px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	max-width: 800px;
}

.translate__square {
	background-color: rgb(38, 83, 38);
}
.translate__square:hover {
	-webkit-transform: translate(50px, 50px);
	        transform: translate(50px, 50px);
}

.scale__square {
	background-color: rgb(63, 35, 62);
}
.scale__square:hover {
	-webkit-transform: scale(1.5, 1.5);
	        transform: scale(1.5, 1.5);
}

.rotate__square {
	background-color: rgb(35, 36, 63);
}
.rotate__square:hover {
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
}

.skew__title span {
	text-transform: lowercase;
}
.skew__square {
	background-color: rgb(61, 63, 35);
}
.skew__square:hover {
	-webkit-transform: skew(20deg, 20deg);
	        transform: skew(20deg, 20deg);
}

.matrix__title span {
	text-transform: lowercase;
}
.matrix__subtitle span:nth-child(2) {
	text-transform: lowercase;
}
.matrix__square {
	background-color: rgb(63, 42, 35);
}
.matrix__square:hover {
	-webkit-transform: matrix(2, 0, 0, 2, 120, -100);
	        transform: matrix(2, 0, 0, 2, 120, -100);
}

.multi__square {
	background-color: rgb(38, 72, 83);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 15px;
}
.multi__square:hover {
	-webkit-transform: translate(50px, 50px) scale(1.5, 1.5) rotate(360deg);
	        transform: translate(50px, 50px) scale(1.5, 1.5) rotate(360deg);
}

.transform-origin__square {
	background-color: rgb(35, 63, 37);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 15px;
	-webkit-transform-origin: bottom right;
	        transform-origin: bottom right;
}
.transform-origin__square:hover {
	-webkit-transform: rotate(30deg);
	        transform: rotate(30deg);
}

.perspective__square {
	background-color: rgb(13, 105, 37);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 15px;
	-webkit-transition: 1.5s;
	transition: 1.5s;
}
.perspective__square:hover {
	-webkit-perspective-origin: center top;
	        perspective-origin: center top;
	-webkit-transform: perspective(2000px) rotateY(360deg) translate(100px, -100px) scale(2);
	        transform: perspective(2000px) rotateY(360deg) translate(100px, -100px) scale(2);
}

.translate3D__square {
	background-color: #653a66;
}
.translate3D__square:hover {
	-webkit-transform: perspective(700px) translate3d(50px, -50px, 200px);
	        transform: perspective(700px) translate3d(50px, -50px, 200px);
}

.scale3D__square {
	background-color: #3a6663;
}
.scale3D__square:hover {
	-webkit-transform: perspective(700px) scale3d(2, 2, 5);
	        transform: perspective(700px) scale3d(2, 2, 5);
}

.rotate3D__square {
	background-color: #3a3c66;
}
.rotate3D__square:hover {
	-webkit-transform: perspective(700px) rotate3d(1, 1, 1, 45deg);
	        transform: perspective(700px) rotate3d(1, 1, 1, 45deg);
}

.matrix3D__title span {
	text-transform: lowercase;
	font-weight: 400;
}
.matrix3D__square {
	background-color: #682323;
}
.matrix3D__square:hover {
	-webkit-transform: matrix3d(0.5041, -0.71, 0.71, 0, 0.71, 0.5041, 0.71, 0, -0.71, -0.71, 0.5041, 0, 100, -100, 300, 1);
	        transform: matrix3d(0.5041, -0.71, 0.71, 0, 0.71, 0.5041, 0.71, 0, -0.71, -0.71, 0.5041, 0, 100, -100, 300, 1);
}

.multi3D__square {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 15px;
	background-color: #c0c293;
	color: #27523c;
}
.multi3D__square:hover {
	-webkit-transform: perspective(500px) translate3d(40px, -20px, 20px) rotate3d(1, 1, 1, -40deg);
	        transform: perspective(500px) translate3d(40px, -20px, 20px) rotate3d(1, 1, 1, -40deg);
}

.transform-style__wrapper-square {
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}
.transform-style__square {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background-color: #27523c;
	gap: 15px;
}
.transform-style__square:hover {
	-webkit-transform: perspective(400px) translate3d(0px, 0px, 0px) rotate3d(1, 0, 0, 45deg);
	        transform: perspective(400px) translate3d(0px, 0px, 0px) rotate3d(1, 0, 0, 45deg);
}

.backface__square {
	margin: 0 0 30px 0;
}
.backface__square:hover .backface__square-body {
	-webkit-transform: rotateY(-180deg);
	        transform: rotateY(-180deg);
}
.backface__square-body {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}
.backface__square-front, .backface__square-back {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.backface__square-front {
	z-index: 2;
	-webkit-transform: rotateY(0deg);
	        transform: rotateY(0deg);
	background-color: #77608d;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
}
.backface__square-back {
	-webkit-transform: rotateY(-180deg);
	        transform: rotateY(-180deg);
	background-color: rgba(121, 79, 69, 0.5);
}