body {
    margin: 0 auto;
}

.sec { 

}

.title { 
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.square { 
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: antiquewhite;
    text-transform: uppercase;
    transition: all 1s ease 0.2s;
}

.subtitle { 
    font-size: 22px;
    color: #fff;
    max-width: 800px;
    letter-spacing: 1px;
    line-height: 30px;

    & span {
        font-weight: 700;
        text-transform: uppercase;
        color: rgb(153, 233, 133);
    }
}

.transform { 
    display: flex;
    align-items: center;
    padding: 50px 20px 0 20px;
    flex-direction: column;
    background-color: rgb(53, 51, 51);
    height: 100vh;
}

.translate {

	&__square { 
        background-color: rgb(38, 83, 38);

        &:hover {
            transform: translate(50px, 50px);
        }
    }
}