@import "nullstyle.scss";

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(53, 51, 51);
}

.sec { 
    margin: 0 0 80px 0;
    
}

.title { 
    font-size: 30px;
    color: #00ff7b;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin: 0 0 50px 0;
    line-height: 38px;

    a {
        color: #00ff7b;
    }
}

.wrapper3d {
    margin: 0 0 30px 0;
    width: 250px;
    height: 250px;
    background-color: rgba($color: #484848, $alpha: .5);
}   

.square { 
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgb(251, 250, 202);
    text-transform: uppercase;
    transition: all .7s ease 0.2s;
}

.subtitle { 
    font-size: 22px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 30px;

    & span {
        font-weight: 700;
        text-transform: uppercase;
        color: rgb(180, 166, 238);
    }
}

.transform { 
    display: flex;
    align-items: start;
    padding: 50px 20px 0 20px;
    flex-direction: column;
    max-width: 800px;
}

.translate {

	&__square { 
        background-color: rgb(38, 83, 38);

        &:hover {
            transform: translate(50px, 50px);
        }
    }
}

.scale {
    
	&__square { 
        background-color: rgb(63, 35, 62);

        &:hover {
            transform: scale(1.5, 1.5);
        }
    }
}

.rotate {
    
	&__square { 
        background-color: rgb(35, 36, 63);

        &:hover {
            transform: rotate(90deg);
        }
    }
}

.skew {

    &__title {
        
        & span {
            text-transform: lowercase;
        }
    }

	&__square { 
        background-color: rgb(61, 63, 35);
        
        &:hover {
            transform: skew(20deg, 20deg);
        }
    }
}

.matrix {

    &__title {
        
        & span {
            text-transform: lowercase;
        }
    }

    &__subtitle {

        span:nth-child(2) {
            text-transform: lowercase;
        }
    }

	&__square { 
        background-color: rgb(63, 42, 35);
        
        &:hover {
            transform: matrix(2, 0, 0, 2, 120, -100);
        }
    }
}

.multi {

	&__square { 
        background-color: rgb(38, 72, 83);
        display: flex;
        flex-direction: column;
        gap: 15px;

        &:hover {
            transform: translate(50px, 50px) scale(1.5, 1.5) rotate(360deg);
        }
    }
}

.transform-origin {

	&__square { 
        background-color: rgb(35, 63, 37);
        display: flex;
        flex-direction: column;
        gap: 15px;
        transform-origin: bottom right;
        
        &:hover {
            transform: rotate(30deg);
        }
    }
}

.perspective {

    &__wrapper-square {

    }

	&__square { 
        background-color: rgb(13, 105, 37);
        display: flex;
        flex-direction: column;
        gap: 15px;
        transition: 1.5s;

        &:hover {
            perspective-origin: center top;
            transform: perspective(2000px) rotateY(360deg) translate(100px, -100px) scale(2);
        }
    }
}

.translate3D {

	&__square { 
        background-color: #653a66;

        &:hover {
            transform: perspective(700px) translate3d(50px, -50px, 200px);
        }
    }
}

.scale3D {

	&__square { 
        background-color: #3a6663;

        &:hover {
            transform: perspective(700px) scale3d(2, 2, 5);
        }
    }
}

.rotate3D {

	&__square { 
        background-color: #3a3c66;
        
        &:hover {
            transform: perspective(700px) rotate3d(1, 1, 1, 45deg);
        }
    }
}

.matrix3D {
	&__title { 

        span {
            text-transform: lowercase;
            font-weight: 400;
        }
    }

	&__square { 

        background-color: #682323;

        &:hover {
            transform: matrix3d(0.5041,-0.71,0.71,0,0.71,0.5041,0.71,0,-0.71,-0.71,0.5041,0,100,-100,300,1);
        }
    }

}

.multi3D {

	&__square { 
        display: flex;
        flex-direction: column;
        gap: 15px;
        background-color: #c0c293;
        color: #27523c;

        &:hover {
            transform: perspective(500px) translate3d(40px, -20px, 20px) rotate3d(1, 1, 1, -40deg);
        }
    }
}

.transform-style {

    &__wrapper-square {
        transform-style: preserve-3d;
    }

	&__square { 
        display: flex;
        flex-direction: column;
        background-color: #27523c;
        gap: 15px;

        &:hover {
            transform: perspective(400px) translate3d(0px, 0px, 0px) rotate3d(1, 0, 0, 45deg);
        }
    }

}

.backface {

	&__square { 

        margin: 0 0 30px 0;

        &:hover .backface__square-body  {
            transform: rotateY(-180deg);
        }
    }

	&__square-body { 
        position: relative;
        width: 100%;
        height: 100%;
        transition: all 0.8s ease 0s;
        transform-style: preserve-3d;
    }

	&__square-front, &__square-back { 
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__square-front {
        z-index: 2;
        transform: rotateY(0deg);
        background-color: #77608d;
        backface-visibility: hidden;
    }

	&__square-back { 
        transform: rotateY(-180deg);
        background-color: rgba(121, 79, 69, 0.5);
    }
}